@charset "UTF-8";

/* Resumo
    # = id
    . = class
    : = pseudo-class
    ::= pseudo-element
    > = children (filho)
*/


/* ================================ Variaveis CSS ================================*/
:root{

    --cor-principal: #2F3136;
    --cor-secundaria: #363942;
    --cor-fundo1: #3F424D;
    --cor-fundo2: #3F434D;
    --cor-fundo3: #313640;
    --cor-fundo4: #9A98A6;

    --cor-texto: #F0F0F2 ;
    --cor-texto2:#D2D2D9;

    --cor-variante: #4D4A8C;
    --cor-variante2: #202540;


}


/* ================================ Geral ================================*/
body{
    background-color: var(--cor-secundaria);
    margin: 0;
    padding:0;

}


p{
    color: var(--cor-texto);
    font-weight: bolder;
    font-size: 1.5em;
    
}

h1{ 
    font-weight: bolder;
    font-style: normal;
    color: var(--cor-texto);
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
h2{ 
    font-family: Impact;
    font-size: 3em;
    font-weight: bolder;
    font-style: normal;
    color:var(--cor-texto2);
    text-align: center;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}
/* =================================================================================*/
/* ================================ Header Projetos ================================*/

.projetos{
    position: fixed;
    background-image: linear-gradient(to right, var(--cor-principal), var(--cor-principal), rgba(255, 255, 255, 0.3));
    width:100%;
    height: 56px;
    opacity:99%;

    padding:0;
    margin:0;

    box-shadow:  0 2px 2px linear rgba(0, 0, 0, 0.8);

    z-index: 100;
}

ul, li{
    margin:0;
    text-decoration: none;
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


li{
    margin-left: -15px;
    margin-right: 20px;
    padding: 18px;
    border-radius: 50px;
    color: var(--cor-texto);

}



nav{
    
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}


a.topo > li:hover{
    background-color: var(--cor-texto2);
    color:var(--cor-principal);
    height: auto;
    border-radius: 5px;
    transition-duration: .8s;

}

li.nome{
    font-size: 50px;
    font-weight: bolder;
    display:block;

    height: 40px;

    padding-top:0px;
    margin-top:0px;

   
}



/* =================================================================================*/
/* ================================ Fundo animado ================================*/
.gradiente{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: auto;
    background: linear-gradient(45deg, var(--cor-fundo1),var(--cor-fundo2),var(--cor-fundo3),var(--cor-fundo4));
    background-size: 300% 300%;
    animation: colors 10s ease infinite;



}

@keyframes colors{
    0%{
        background-position: 0% 50%;

    }

    50%{
        background-position: 100% 50%;

    }

    100%{
        background-position: 0% 50%;

    }

}

/* ================================ Texto em maquina de escrever ================================*/

.text{
    border-right: 2px solid var(--cor-texto2) ;
    color: var(--cor-texto);
    font-family: 'Special Elite', monospace;
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap; /*impede que ele quebre a linha*/
    overflow: hidden;


}

.subtext{
    opacity:0;
    animation: subtexto 800ms infinite ease;
}

.animation{
    animation: cursor-animation 500ms steps(40) infinite normal, digitar 4s steps(40) 1s normal both;
}



@keyframes cursor-animation{
    from{
        border-right-color: var(--cor-texto2);
    }
    to{
        border-right-color: transparent;
    }

}

@keyframes digitar{
    from{
 
        width:0;
    }
    to{
        width: 16em;
    }
}

@keyframes subtexto{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 100;
    }
    100%{
        opacity: 0;
    }

}



/* =================================================================================*/
/* ================================ opcoes HTML e CSS ================================*/

.opcoes{
    position: sticky;
    top:0;
    left:0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), transparent, var(--cor-principal));
    width:100%;
    height: 56px;
    opacity:99%;

    padding:0;
    margin:0;

    box-shadow:  0 2px 2px  rgba(0, 0, 0, 0.8);

    z-index: 101;
}

ul, li{
    margin:0;
    text-decoration: none;
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


li{
    margin-left: -15px;
    margin-right: 20px;
    padding: 18px;
    border-radius: 50px;
    color: var(--cor-texto);

}



nav.opcoes{
    
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;

}


a.topo > li:hover{
    background-color: var(--cor-texto2);
    color:var(--cor-principal);
    height: auto;
    border-radius: 5px;
    transition-duration: .8s;

}


/* =================================================================================*/
/* ================================ Main Space ================================*/
/* =================================================================================*/


.space{
    background-color: var(--cor-fundo4);
    width:100%;
    height: 500px;

    padding:0px;
    margin:0px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.spaceh2{
    margin-bottom: -70px;
    margin-top: 14px;
    padding-top:0;


}


.front  p, .back p{
    color: var(--cor-principal);
    text-align:center;
    margin: auto;
    padding-top: 20px;
    padding-left:10px;
    padding-right:10px;
    font-size: 2em;


}



.face{
    width: 300px;
    height:250px;
    padding:50px;
    margin:10px;
    perspective: 900px;

    
    

}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;

    transition: 700ms;

    
}

.front{
    background-color: rgba(210, 210, 217, .2);
    border-radius: 30px 1px;
    opacity:100%;
    z-index: 1;

    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);

}


.back{
    background-color: rgba(210, 210, 217, .9);
    border-radius: 1px 30px;
    opacity:100%;
    transform: rotateY(-180deg);
    backface-visibility: hidden;

    

}

.face:hover .front{
    transform: rotateY(180deg);
    z-index:0;
}

.face:hover .back{
    transform: rotateY(0deg);
    z-index:1;
}



/* =================================================================================*/
/* ================================ Conteudo ================================*/

.conteudo{
    background-color: var(--cor-fundo1);
    color: var(--cor-texto2);
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(120, 145, 13, 0.003);
    width: 500px;
    height: auto;
    padding: 25px 10px 25px 10px;
    margin: auto;
    
}

.conteudo:hover{
    background-color: var(--cor-fundo4);
    color: var(--cor-principal);
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(120, 145, 13, 0.003);
    width: 500px;
    height: auto;
    padding: 25px 10px 25px 10px;
    margin: auto;
    transition-duration:.6s;
    
}


a{
    text-decoration: none;
    color: var(--cor-texto);
    font-weight: bolder;
}


