@charset "UTF-8";

.voltar a{
    text-decoration: none;
    color: white;
}
.voltar{
    padding: 12px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.3);
    margin: 20px;
    width: auto;
    height: auto;
    
}    

/* ============================================================================= */

.text{
    border: 3px  solid white;
    color: white;
    padding: 5px;

}

.gradiente{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vh;
    background: linear-gradient(45deg, #084177 ,#687466, #CD8D78, #FFC490);
    background-size: 300% 300%;
    animation: colors 10s ease infinite;



}

@keyframes colors{
    0%{
        background-position: 0% 50%;

    }

    50%{
        background-position: 100% 50%;

    }

    100%{
        background-position: 0% 50%;

    }

}