

@charset "UTF-8";

.voltar a{
    text-decoration: none;
    color: white;
}
.voltar{
    padding: 12px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.3);
    margin: 50px;
    width: auto;
    height: auto;
    

}    

/* ============================================================================= */

/*


#BFA89B




*/

:root{
    --cor1: #734951 ;
    --cor2: #F2E9D8 ;
    --cor3: #BFA89B ;
    --cor4: #8C6961 ;
    --cor5: #592727 ;
    --cor6: #FF322B ;
    --cor7: #583894 ;
    --cor8: #AD93DE ;
    --cor9: #000000 ;

}

body{
    background: var(--cor2);
    display:flex;
    justify-content:center;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 15px;

}

.title{
    text-align: center;
    font-size: 2.2em;
    text-shadow:1px 1px 2px var(--cor1);
    padding: 10px;

}

.sumir{
    display:flex;
    justify-content:center;
    align-items: center;
    text-align: center;

}
/* =====================================*/
/* ====== botão next ======*/

button{
    font: inherit;
    font-size: 1.2em;
    cursor: pointer;
}

.next{
    display:inline-block;
    margin:0.3em;
    padding: .5em 1.3em;
    text-decoration: none;
    background-color: var(--cor6);
    color: var(--cor2);
    border:0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    border-radius: 0.5em;
    box-shadow: 2px 2px 0px 1px #930;

    transition: box-shadow 0.3s ease, transform 0.3s ease

}

.next:active{
    box-shadow: 0 0 0 0 #930, inset 3px 3px 3px #930;
    transform: translate(3px, 3px);

}

/* =====================================*/

.contain{
    display:flex;
    flex-direction: column;
    background: var(--cor4);
    justify-content:center;
    align-items: center;
    width: 500px;
    height: 100%;
    border-radius: 10px 5px;
    box-shadow: 2px 2px 5px var(--cor3);
    padding: 10px 5px 15px 5px;
    margin-top: 15px;

}

.contain h2{
    display: block;
    font-size: 1.8em;
    text-shadow:1px 1px 5px var(--cor2);
    padding: 10px;
}

.contain input{
    width: 400px;
    font-size: 1.4em;
    border-radius: 5px;

}

.contain p{
    color: var(--cor2);
    text-align: center;
    font-size: 1.2em;
    text-shadow:1px 1px 2px var(--cor1);
    padding: 10px;
    font-weight: bolder;

}


/* =====================================*/

.step{
    display:none;
}

.step:target{
    display:block;
}

/* =====================================*/

.opt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(167, 127, 118, 0.5) ;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 15px;
    
}

h2.Fnome{
    display: block;
    text-align: justify;
    font-size: 1.8em;
    text-shadow:1px 1px 5px var(--cor2);
    padding: 10px;
}

p.Fstatus{
    color: var(--cor2);
    text-align: justify;
    font-size: 1.5em;
    text-shadow:1px 1px 2px var(--cor1);
    padding: 10px;
    font-weight: bolder;
}

/* =====================================*/